.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

button {
  position: relative;
  width: 8em;
  height: 8em;
  font-size: 1.5em;
  border-radius: 1em;
  border-color: gray;
  border-style: solid;
  background-color: #323E56;
  color: white;
}

button:hover {
  background-color: #333A49;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
